<% if false %>
  <!DOCTYPE html>
  <html>
    <head>
      <title>Jlpt</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'index' %>
    </head>
    <body>
      <%= yield %>
    </body>
  </html>
<% end %>
<h3>https://jlpt-api-01.herokuapp.com/api/v1/words/(type word here)</h3>
